.App {
  text-align: center;
  width: 100%;
  height: 100vh;
  padding: 20px;
}

.pokemonCardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
}
.cardName {
  padding: 0;
  font-size: 24px;
  margin-bottom: 10px;
  margin-top: 0;
}
.cardInfo {
  text-align: center;
}

.button {
  padding: 30px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.button button {
  padding: 13px 42px;
  background-color: orange;
  border: none;
  box-shadow: 2px 8px 21px -2px #777777;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 5px;
}
.button button:hover {
  transform: translateY(5px);
  box-shadow: none;
}
